<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/styles/styles.css">
  <title>Crypto Tax reporter</title>
</head>
<header>
  <h1 class="site-title">Crypto tax reporter</h1>
  
</header>
  <main class="container">
    <h1>Main page</h1>

  </main>    
</body>
</html>      