<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- ✅ Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Crypto Tax Reporter</title>
</head>

<body>
  <!-- ✅ Bootstrap Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Crypto Tax Reporter</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">            
            <a class="nav-link" href="/transactions">View Transactions</a>
          </li>
          <li class="nav-item">            
            <a class="nav-link" href="/buy-btc-strike">Buy bitcoin with Strike</a>
          </li>          
          <li class="nav-item">
            <a class="nav-link" href="/export">Create PDF Export</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <main class="container mt-4">
    <div>
      <h1>Introduction</h1>
      <p>Do you need support with taxes, required for crypto profits in Germany?</p>
      <p>This tool helps you to create a tax report for your crypto transactions.</p>
    </div>    


    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="feature-list">
      <h3>Supported features</h3>
      <p>
          <ul>
            <li>Add transactions
              <ul>
                <li>Buy BTC on Strike wallet</li>
                <li>Transfer BTCs from Strike to Cold wallet (to be implemented)</li>
                <li>Transfer BTCs from cold wallet back to Strike</li>
                <li>Sell BTC from Strike wallet</li>            
              </ul>
            </li>           
            <li>View transactions</li>
            <li>Generate PDF export</li>
          </ul> 

      </p>
    </div>
  </main>    

  <!-- ✅ Bootstrap JS (für das Hamburger-Menü auf Mobilgeräten) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer class="bg-dark text-white text-center py-3 mt-4">
  <p>&copy; 2025 Crypto Tax Reporter. Author: Gero Sparwald. All rights reserved.</p>
</html>

