<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zalando+Sans:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet"> 
  <link rel="stylesheet" href="/styles/styles.css">
  <!-- ✅ Bootstrap CSS -->
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
  
  <title>Crypto Tax Reporter</title>
</head>

<body>
  <!-- ✅ Bootstrap Navbar -->
  <%- include('partials/navbar') %>

  <!-- ✅ Flash messages -->
  <%- include('partials/flash') %>

  <main class="container mt-4">
    <div>
      <h1>Wobei kann Dir dieses Tool helfen?</h1>
      <p>Lebst Du in Deutschland und fragst Dich beim Verkauf von BTC wie Du effizient und kostenlos Deine steuerpflichtigen Gewinne für das Finanzamt auflisten sollst?</p>
      <p>Diese Web Anwendung hilft Dir dabei.</p>   
    </div>    


    <div class="shadow-lg p-3 mb-5 bg-body-tertiary rounded" id="feature-list">
      <h3>Aktueller Funktionsumfang</h3>
      <p>
          <ul>
            <li>Transaktionen hinzufügen
              <ul>
                <li>Gekaufte BTCs auf strike.io</li>
                <li>Verkaufe BTCs auf strike.io</li>                
                <li>Transfer BTCs von Strike auf Cold Wallet</li>
                <li>geplant: Transfer BTCs von Cold Wallet zurück nach Strike</li>

              </ul>
            </li>           
            <li>Transaktionen anzeigen</li>
            <li>Transaktionen löschen</li>
            <li>PDF generieren für Steuererklärung</li>
          </ul> 

      </p>
    </div>
  </main>    

  <!-- ✅ Bootstrap JS (für das Hamburger-Menü auf Mobilgeräten) -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
<footer class="bg-dark text-white text-center py-3 mt-4">
  <p>&copy; 2025 Crypto Tax Reporter. Author: Gero Sparwald. All rights reserved.</p>
</html>

